# User Settings | Edit there as per required

title: Lachlan Sneff | Blog
url: "https://lsneff.me"
baseurl: ""

# This will show up at the top of index page
site_heading: >
    Lachlan Sneff <span class="faded">'s blog</span>

email: lachlan.sneff@gmail.com
author: Lachlan Sneff
# This description will show up in google search results
# (for index page) etc.
description: >
    accent is, as Trump would put it, the best

# This will what will show against &copy; in the footer
copyright: Lachlan Sneff
# Toggle your short bio, which will displayed on your index page
# Just toggle it and run jekyll again to see
intro: false         # Tip: Remove the span from site_heading if intro is set to true
# This will be displayed in your intro
short_bio: >
    Welcome! This is <span>accent</span>, a mobile friendly theme for Jekyll. The main feature of this
    theme is that you can change the accent color. Refer the
    <a class="underline different-highlight" href="http://ankitsultana.com/accent/documentation.html">
        Documentation
    </a>
    to know how.

permalink: /:title.html

# Comments are powered by disqus
comments: false

# keep about_stub roughly 12 words long for best results
# This will show up at the bottom of each post
# Note that about_footer should be true if you want
# to see author information at the bottom of each post
about_stub: >
    Just a kid in the right place at the right time.

about_footer: true

twitter_username: lachlansneff
github_username: lachlansneff

favicon: true
favicon_location: "favicon.ico"

profile_picture: images/temp.png
paginate: 5
paginate_path: "/page/:num"
tracking_id: UA-69243698-7 # GA Tracking ID

####################################
####################################
####################################
### Build Settings | Don't Touch ###
####################################
####################################
####################################

markdown: kramdown

plugins:
    - jekyll-paginate

sass:
    style: compressed
    sass_dir: _sass

# Scopes
defaults:
    -
        scope:
            path:   ""
            type:   "pages"
        values:
            layout: "page"
    -
        scope:
            path:   ""
            type:   "posts"
        values:
            layout: "post"

exclude: [vendor] # For travis ci
