---
layout: default
---

<div class="content container">
    <div class="post-date">
        <time>{{ page.date | date: '%B %d, %Y '}}</time>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
    {{ content }}
</div>
<div class="container">
</div>

{% if site.about_footer %}
    {% include about.html %}
{% endif %}

<script src="https://utteranc.es/client.js"
        repo="lachlansneff/lachlansneff.github.io"
        issue-term="title"
        crossorigin="anonymous"
        async>
</script>
